.logo {
    font-color: white;
    font-weight: blod;
}

.keluar {
    background-color: #371b58;
    color: white;
}

.fitur {
    background-color: #e9d5ca;
}

.fitur a {
    text-decoration: none;
    color: #371b58;
}
